html {
    background-color: rgb(242, 234, 182);
}

p {
    margin: 0;
}

button {
    margin: 10px;
    background-color: lightgray;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

#columns {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

#leftColumn,
#centerColumn,
#rightColumn {
    flex: 1;
    padding: 0;
    border-left: 3px solid #000;
    min-width: min-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#centerColumn {
    flex: 4;
}

#rightColumn {
    border-right: 3px solid black;
}

.list {
    flex: 1;
    overflow-y: auto;
}

#savedParties,
#selectedParty {
    border-bottom: 3px solid #000;
}

h1, h2 {
    margin: 0;
    border-bottom: 2px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    height: 2em;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: rgb(178, 35, 28);
}

h2 {
    border-top: 3px solid #000;
}

h {
    font-size: 1.25em;
}

input {
    flex: 1;
    margin-left: 5px;
    font-size: 1em;

    background-color: lightgray;
}

.list {
    display: flex;
    flex-direction: column;

    font-size: 1.5em;
    min-height: 3em; /* Always have room for two elements */
    overflow-y: auto;
}

.list p:nth-child(even),
.list a:nth-child(odd){
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    background-color: rgb(217, 129, 124);
    border-bottom: 2px solid gray;
}

.list p:nth-child(odd),
.list a:nth-child(even) {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    background-color: rgb(208, 74, 67);
    border-bottom: 2px solid gray;
}

#partyList,
#enemiesList {
    font-size: 2em;
    min-height: 4em; /* Always have room for two elements */
}

a.new {
    display: block;
}

#output { 
    border-bottom: 3px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: rgb(145, 25, 19);
}

.output {
    margin: 10px;
}

.outputWindow { 
    height: 20px;
    width: 150px;
    border: 1px solid #000;
    background-color: rgba(169, 169, 169);
    margin: 0;
}

#user { 
    flex: 1;
    text-align: center;
    padding: 10px;
}

a[href="https://github.com/BlueKuzo/startup"] {
    min-height: 3em;
    display: inline-block;
    word-wrap: anywhere;
}

img {
    width: 75%;
    height: auto;
}

footer {
    justify-self: end;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%
}

footer span {
    width: 80%;
    display: inline-block;
    animation: slideText 30s linear forwards;
}

@keyframes slideText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}