html {
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid black;
    border-left: 3px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin: 10px;
    background-color: lightgray;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#left_column,
#center_column,
#right_column {
    flex: 2;
    padding: 0;
    border-right: 3px solid #000;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#center_column {
    min-width: 350px;
    flex: 5;
}

table {
    flex: 1;
    border-bottom: 3px solid black;
    min-height: 270px;
}

th {
    box-sizing: border-box;
    border-bottom: 3px solid black;
    background-color: rgba(155, 36, 30, 0.8);
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

tbody {
    overflow: auto;
}

th input {
    flex: 1;
    margin-left: 5px;
}

td {
    padding-left: 10px;
    background-color: rgba(155, 36, 30, 0.6);
}

tr.newRow {
    position: relative;
    bottom: 0;
}

div#output { 
    border-bottom: 3px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 400px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(155, 36, 30, 0.75);
}

div.output {
    margin: 5px;
}

div.outputWindow { 
    height: 20px;
    max-width: 250px;
    border: 1px solid #000;
    background-color: rgba(169, 169, 169, 1);
    margin: 0;
}

div#user { 
    flex: 1;
    text-align: center;
    padding: 10px;
}

img {
    width: 75%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer span {
    width: 100%;
    display: inline-block;
    animation: slideText 15s linear forwards;
}

@keyframes slideText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}