html {
    background-color: rgb(242, 234, 182);
}

p {
    margin: 0;
    cursor: default;
}

button {
    margin: 10px;
    background-color: lightgray;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: inline-block;
}

input {
    flex: 1;
    margin-left: 5px;
    font-size: 1em;

    background-color: lightgray;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#columns {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#leftColumn,
#centerColumn,
#rightColumn {
    padding: 0;
    border-left: 3px solid #000;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#leftColumn {
    width: 25%;
    min-width: 265px;
}

#centerColumn {
    flex: 1;
}

#rightColumn {
    width: 15%;
    min-width: min-content;
    border-right: 3px solid black;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 50%;
}

h1 {
    margin: 0;
    border-bottom: 2px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    height: 2em;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: rgb(178, 35, 28);
}

#savedEncounters h1,
#selectedEncounter h1 {
    border-top: 3px solid black;
}

h {
    font-size: 1em;
    cursor: default;
}

.list {
    flex: 1;

    display: flex;
    flex-direction: column;

    font-size: 1.5em;
    overflow-y: auto;

    width: 100%;
}

.list p {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list p:nth-child(even) {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    background-color: rgb(217, 129, 124);
    border-bottom: 2px solid gray;
}

.list p:nth-child(odd) {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    background-color: rgb(208, 74, 67);
    border-bottom: 2px solid gray;
}

#partyList,
#enemiesList {
    font-size: 2em;
}

#output { 
    border-bottom: 3px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: rgb(145, 25, 19);
}

.output {
    margin: 10px;
}

.outputWindow { 
    height: 20px;
    width: 150px;
    border: 1px solid #000;
    background-color: rgba(169, 169, 169);
    margin: 0;
}

#user { 
    flex: 1;
    text-align: center;
    padding: 10px;
}

a[href="https://github.com/BlueKuzo/startup"] {
    min-height: 3em;
    display: inline-block;
    word-wrap: anywhere;
}

img {
    width: 75%;
    height: auto;
    cursor: pointer;
}

#WebSocketDisplay {
    justify-self: end;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 1em;
}

footer span {
    width: 80%;
    display: inline-block;
    animation: slideText 30s linear forwards;
}

@keyframes slideText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.overlay {
    position: fixed;
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
  }

  .overlay_content {
    background-color: rgb(242, 234, 182);

    border: 2px solid #000;
    width: fit-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay_content header {
    background-color: rgb(178, 35, 28);
    border-bottom: 2px solid #000;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.overlay_content header input {
    flex: 1;
    margin: 5px;
}

#savedCreatureButton {
    margin: 5px;
}

#overlay_body {
    margin: 0;
    width: fit-content;
    height: fit-content;
}

#overlay_body p {
  padding: 10px;
}

.overlay_content footer {
    background-color: rgb(178, 35, 28);
    border-top: 2px solid #000;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#Creatures_Overlay .overlay_content header {
    align-items: center;
    height: 2em;
}

#Creatures_Overlay .overlay_content header h {
    width: 100%;
    text-align: center;
}

#creaturesList {
    max-height: 150px;
}